<% @posts.each do |post| %>
  <div class="card" style="width: 18rem;">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><%= image_tag post.image%></svg>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text"><%= post.text%></p>
      <a href="#" class="btn btn-primary">いいね</a>
    </div>
  </div>
<% end %>